.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}


.form-group input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 0.25rem;

}

.form-group label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}


.form-group input:focus {
    outline: none;
    border-color: #646cff;
}